@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Noto Sans", sans-serif;
}

button{
    cursor: pointer;
    outline: none;
}

.slide-container{
    width: 100%;
    height: 90vh;
}

/* Add to your global CSS or tailwind.config.js */
.reveal .slides section {
  overflow: visible !important;
  z-index: 1;
}
